.searchBox  {
    transform:translate(0%, 100%)
    
}

.pokemonIcon {
    transform:translate(50%, 30%);
}

.pokemonInfos {
    transform:translate(0%, -100%);
    border: 2px black solid;
    width: 30%;
    height: 100%;
}

