.searchBox  {
    	margin-top: 1%;
        margin-left: 44%;
    
    
}

.pokemonIcon {
    transform:translate(225%, 20%);
    border: 2px black solid;
    width: 30%;
    height: 100%;
    background-color: lightblue;
}

.pokemonInfos {
    transform:translate(0%, -100%);
    border: 2px black solid;
    width: 30%;
    height: 100%;
    background-color: lightblue;
}


body {
    background-attachment: fixed;
}

