.searchBox  {
<<<<<<< HEAD
    transform:translate(0px, 100px)
    
}

.pokemonIcon {
    transform:translate(1050px, 100px);
}


.pokemonInfos {
    transform:translate(0px, -250px);
    border: 2px black solid;
    width: 475px;
    height: 500px;
}

.trennLinie1 {
    transform:translate(0px, -500px);
}


=======
    transform:translate(0, 25054309)
}
>>>>>>> 444d6662bfe8d41a3a0269a961a4ccd1df9e6ff6
